@use "../partials/partial";


.layout {
  font-family: "Open Sans", sans-serif !important;
  .children {
    // padding: 2rem;
    margin-bottom: 2rem;
    h2 {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .layout {
    .children {
      h2 {
        font-size: 2.5rem !important;
      }
    }
  }
}
